
.information {
    width: 100%;
}
.foto{
    width:200px
}
footer{
    display:grid;
    grid-template-columns: 1fr 1fr  1fr;
    align-items: center;
    background-color:darkgray;

}
.footer_item{
    margin-left: auto;
    margin-right: auto;
}